{% extends "layout.html" %}

{% block title %}
    Add_Need
{% endblock %}

{% block main %}
    <h1>Ещё необходимо добавить:</h1>
    <form action="/add_need" method="post">
        <div class="mb-3">
            <input autoc omplete="off" autofocus class="form-control mx-auto w-auto" id="category" name="category" placeholder="Стол, Инвентарь, Конкурсы" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="description" name="description" placeholder="????????" type="text">
         </div>
            <button class="btn btn-primary" type="submit">Добавить</button>
        </form>
    </form>
{% endblock %}
