{% extends "layout.html" %}

{% block title %}
    Event
{% endblock %}

{% block main %}
    <div>
        <h2>Лесной поход</h2>
            <table>
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Время начала</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>24.08.2022</td>
                    <td>08:00</td>
                </tr>
            </tbody>
            </table>

            <hr style="color:red">
            <p>Поскольку в Карпаты далеко – ищем возможности насладиться горной местностью и нетронутым хвойно-дубовым лесом в нашем регионе. Мы нашли его!!! Предлагаем вместе подняться на самую высокую гору днепропетровской области и насладиться пейзажем, открывшемся нашему взору; выпить целебной воды из самого древнего колодца, который находится во дворе старинного храма с необыкновеными росписями под куполами. А затем – в девственный лес на берегу Орели – собираем грибы, слушаем тишину и пение птиц, общаемся и устраиваем пикник! Автобусный тур из Днепра с грибными местами — лучшее решение отдыха в выходной день.</p>

            <h6>ПРОГРАММА:</h6>

            <p>8.00 – выезд комфортабельным автобусом от Нового Центра. Прибытие в Китайгород. До сих пор в Китайгороде сохранились земляные валы над рекой, за которыми селяне прятались от набегов татаро-монголов, а за ними три старинных храма: Николаевский, Успенский и Варваринский — единственные каменные сооружения на то время (16-17 ст). Сегодня — это самые старинные храмы на территории Приднепровья, которые мы и посетим. На территории Николаевского храма попьем целебной воды из колодца, которому почти 300 лет — и все это время чистая вода освежает путников.</p>
            <p>Далее восхождение на днепровскую Говерлу — гору Калитву: как говорят ученые, она образовалась в результате таяния ледников и является самой высокой горой в нашей области. Красивая панорама, кустарники терна, разломы — все это мы увидим при покорении горы, которое доступно всем людям без особой физической подготовки. Хребет Калитвы тянется до 10 км, ее подножие укрыто глубокими оврагами и хвойно-лиственным лесом.</p>

            <p>12.00 — Затем – отдых и сбор грибов в только нам известном природном оазисе тамошних лесов. Тишина, чистый воздух, аромат трав и хвои ожидают нас в этом месте.</p>

            <p>Важно! Запрещено разжигание костров и громкая музыка! Можно брать только готовые продукты! Весь мусор после себя в обязательном порядке необходимо забрать с собой!</p>

            <p>16-16.30 час – отъезд. 17-17.30 – ориентировочное прибытие в Днепр.</p>

    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m30!1m12!1m3!1d337101.0516380914!2d34.49052870537158!3d48.693974262856955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m15!3e0!4m3!3m2!1d48.4651381!2d35.052395499999996!4m3!3m2!1d48.665411999999996!2d34.673176399999996!4m5!1s0x40d99a8d57d7fb07%3A0xdbb7e6bd3fc6306!2z0JfQsNC_0L7QstC10LTQvdC-0LUg0YPRgNC-0YfQuNGJ0LUgItCT0L7RgNCwINCa0LDQu9C40YLQstCwIiwgNTEwMDAsINCm0LDRgNC40YfQsNC90LrQsCwg0JTQvdGW0L_RgNC-0L_QtdGC0YDQvtCy0YHRjNC60LAg0L7QsdC70LDRgdGC0Yw!3m2!1d48.9203191!2d34.4575087!5e0!3m2!1sru!2sua!4v1659814665399!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <form method="post" >
        <button class="btn btn-outline-primary btn-block" name = "adoption" type="submit">Принять участие</button>
    </form>

{% endblock %}
